<% title(@trains.first.class_name) %>

<h3>
		往<%= @trains.first.end_name %>, 
		行程約 <%= trip_time(@trains.first) %>
			<% if params[:direction] == "back" %>
				<%= link_to "往#{@trains.first.begin_name}", timetables_path(:line => line_name(@trains.first.class_name) , :direction => "forth"), :class => "btn btn-info pull-right" %>
			<% else %>
				<%= link_to "往#{@trains.first.begin_name}", timetables_path(:line => line_name(@trains.first.class_name), :direction => "back"), :class => "btn btn-info pull-right" %>	
			<% end %>
</h3>


<div class="alert alert-success">
		<!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
		<h5>列車資訊：</h5>
		<p>
			<% if @trains.recent.nil?  %>
				未發車
			<% elsif @trains.recent.is_extra %>
				<span class="badge badge-success"><%= @trains.recent.train_code  %></span>
				<%= near_train(@trains.recent) %>
				<span class="text-error"> <br>
				[註]此為加班車，請注意加班車公告是否行駛。</span>
			<% else %>
				<span class="badge badge-info"><%= @trains.recent.train_code  %></span>
				<%= near_train(@trains.recent) %> 
			<% end %>
			<small>
			 - 查詢時間 <%= Time.now().strftime("%H:%M") %>
			</small>
		</p> 
</div>


<p>
	<span class="badge badge-info">車次</span>為固定班次。 <br>
	<span class="badge badge-success">車次</span>為加班車，請注意是否公告行駛。
</p>

<table class="table table-bordered table-hover table-striped">
	<tr align="center">
		<th>車次</th>
		<th>啟程站</th>	
		<th>出發時間</th>
		<th>終點站</th>
		<th>到達時間</th>
	</tr>
	<% @trains.each do |train| %>	
		<% if !@trains.recent.nil? and train.train_code == @trains.recent.train_code %>
			<tr class="success">
		<% else %>
			<tr>
		<% end %>
				<td>
					<% if train.is_extra %>
						<span class="badge badge-success">
					<% else %>
						<span class="badge badge-info">
					<% end %>
							<%= train.train_code %>
						</span>
				</td>
				<td>
					<%= train.begin_name %>
				</td>
				<td>
					<%= train.begin_time.strftime("%H:%M") %>
				</td>
				<td>
					<%= train.end_name %>
				</td>
				<td>
					<%= train.end_time.strftime("%H:%M") %>
				</td>
			</tr>
	<% end %>
</table>
