<ul class="nav nav-list bs-docs-sidenav affix">
	<li class="<%= active_nav('alimountain') %>">
		<i class="icon-chevron-right"></i>
		<%= link_to "阿里山本線", alimountain_path(:direction => "forth") %>
	</li>
	<li class="<%= active_nav('chaoping') %>">
		<i class="icon-chevron-right"></i>
		<%= link_to "沼平線", timetables_path(:line => "chaoping") %>
	</li>
	<li class="<%= active_nav('shenmu') %>">
		<i class="icon-chevron-right"></i>
		<%= link_to "神木線", timetables_path(:line => "shenmu") %>
	</li>
	<li class="<%= active_nav('sun') %>">
		<i class="icon-chevron-right"></i>
		<%= link_to "祝山線", chu_path %>
	</li>
	<li class="<%= active_nav('price') %>">
		<i class="icon-chevron-right"></i>
		<%= link_to "票價參考", price_path %>
	</li>
</ul>